Flask
requests
beautifulsoup4
lxml
openai
python-dotenv
validators
readability-lxml
lxml_html_clean
gunicorn==20.1.0
aiohttp
fuzzywuzzy
python-Levenshtein
spacy==3.5.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz